.Full-recipe-image {
  height: auto;
}

.Full-recipe-image-title {
  text-align: left;
}

.Full-recipe-favorite-button {
  margin: 12px;
}

.Full-recipe-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Full-recipe-ingredients-list {
  /* text-align: left; */
  list-style-type: none;
  padding: 0px;
}

.Full-recipe-ingredient {
  padding: 6px;
}

.Full-recipe-row-1 {

}

.Full-recipe-row-2 {

}

.Full-recipe-row-3 {

}

.Full-recipe-column-1 {
  flex: 1;
}

.Full-recipe-column-2 {
  flex: 2;
  overflow-y: auto;
}

.Full-recipe-column-3 {
  flex: 1;
}
