.Ingredient {
  float: left !important;
  width: 81% !important;
  padding-bottom: 20px !important;
}

.Ingredient-checkbox-label {
  font-weight: bold;
}

.Ingredient-checkbox-secondary-label {
  font-size: 12px;
  opacity: 0.8;
}

.Ingredient-checkbox-secondary-label-red {
  font-size: 12px;
  opacity: 0.8;
  color: red;
}

.Ingredient-checkbox-remove-button {
  float: right;
}
