.Ingredients-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Ingredients-form {
  flex: 1;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.Ingredients-list {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.Ingredients-list-header {
  flex: 1;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.Ingredients-list-header-title {
  margin: 14px;
}

.Ingredients-list-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  border: 1px;
  overflow: auto;
}

.Ingredients-list-item {
  float: left !important;
  width: 80% !important;
  padding-bottom: 20px !important;
}
/* Ingredients Form */
/* .Ingredients-sidebar-form-paper {
  margin-bottom: 10px;
} */

/* .Ingredients-sidebar-form-button {
  margin-top: -20px;
  margin-bottom: 15px;
} */

/* Ingredients List */
/* .Ingredients-sidebar-filter {

  overflow-y: hidden;
  overflow-x: hidden;
}

.Ingredients-sidebar-filter-select {
  padding-left: 10px;
}

.Ingredients-sidebar-list-header {
  height: 150px;
  padding-top: 10px;
}

.Ingredients-sidebar-search-button {
  margin-bottom: 20px;
}

.Ingredients-sidebar-clear-selection {
  margin-top: 5px;
} */
