.App {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: auto;
  max-height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Application content */

.app-container {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app-column-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-column-2 {
  flex: 4;
}

.sidebar-row-1 {
  flex: 1;
}

.sidebar-row-2 {
  flex: 1;
}

.sidebar-row-3 {
  flex: 3;
  overflow-y: auto;
}

.main-container-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.main-container-column {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Recipes-list-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Recipes-list-gridList {
  width: auto;
  max-width: 85%;
  height: 850px;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
